﻿@model StudentPickup.Data.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />

        <div class="col-md-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.StudentId)

            <div class="form-group">
                @Html.LabelFor(model => model.StudentSchoolId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StudentSchoolId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StudentSchoolId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RFID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RFID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SchoolId, "School", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SchoolId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GivenName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GivenName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GivenName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CommonName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CommonName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CommonName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FamilyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <div class="col-md-6">
            <h4>Trusted Guardians</h4>
            <div class="demo-section k-header wide">
                <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Add new record</a>
                <div id="listView"></div>
            </div>

            <script type="text/x-kendo-tmpl" id="template">
                <div class="guardian-view k-widget">
                    <dl>
                        <dt>Guardian Name</dt>
                        <dd>#:GuardianName#</dd>
                    </dl>
                    <dl>
                        <dt>Circle</dt>
                        <dd>#:CircleTypeName#</dd>
                    </dl>
                    <div class="edit-buttons">
                        <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                        <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
                    </div>
                </div>
            </script>

            <script type="text/x-kendo-tmpl" id="editTemplate">
                <div class="guardian-view k-widget">
                    <dl>
                        <dt>Guardian Name</dt>
                        <dd>
                            <input type="text" class="k-textbox" data-bind="value:GuardianId" name="GuardianName" required="required" validationMessage="required" />
                            <span data-for="GuardianName" class="k-invalid-msg"></span>
                        </dd>
                        <dt>Circle</dt>
                        <dd>
                            <input type="text" class="k-textbox" data-bind="value:CircleTypeId" name="CircleType" required="required" validationMessage="required" />
                            <span data-for="CircleType" class="k-invalid-msg"></span>
                        </dd>
                    </dl>
                    <div class="edit-buttons">
                        <a class="k-button k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                        <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
                    </div>
                </div>
            </script>
        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/api",
                dataSource = new kendo.data.DataSource({
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false,
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/Guardian/GetGuardiansByStudent?studentId=@Model.StudentId",
                            dataType: "json"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/Student/RemoveGuardianFromStudentCircle",
                            dataType: "json",
                            type: "post"
                        },
                        create: {
                            url: crudServiceBaseUrl + "/Student/AddGuardianToStudentCircle",
                            dataType: "json",
                            type: "post"
                        },
                        parameterMap: function(options, type) {
                            if (type !== "read") {
                                options.StudentId = @Model.StudentId;
                            }
                            return options;
                        }
                    },
                    schema: {
                        model: {
                            id: "GuardianId",
                            fields: {
                                StudentId: { type: "number" },
                                GuardianId: { type: "number" },
                                GuardianName: { type: "string" },
                                CircleTypeId: { type: "number" },
                                CircleTypeName: { type: "string" }
                            }
                        }
                    },
                    sync: function() {
                        dataSource.read();
                    }
                });

            var listView = $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html()),
                editTemplate: kendo.template($("#editTemplate").html()),
                edit: function (e) {
                    var item = $(e.item[0]);

                    $(item.find('[name="GuardianName"]')).kendoDropDownList({
                        autobind: false,
                        placeholder: "Guardian Name",
                        optionLabel: "Select Guardian...",
                        dataTextField: "GuardianName",
                        dataValueField: "GuardianId",
                        dataSource: {
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false,
                            transport: {
                                read: {
                                    url: crudServiceBaseUrl + "/Guardian/GetGuardiansList",
                                    dataType: "json"
                                }
                            }
                        }
                    });

                    $(item.find('[name="CircleType"]')).kendoDropDownList({
                        autobind: false,
                        placeholder: "Circle",
                        optionLabel: "Select Circle...",
                        dataTextField: "CircleTypeName",
                        dataValueField: "CircleTypeId",
                        dataSource: {
                            data: [
                                { CircleTypeName: "Trusted", CircleTypeId: 1 },
                                { CircleTypeName: "Scheduled", CircleTypeId: 2 }
                            ]
                        }
                    });
                },
                remove: function(e) {
                    console.log(e);
                }
            }).data("kendoListView");

            $(".k-add-button").click(function (e) {
                listView.add();
                e.preventDefault();
            });
        });
    </script>
}