﻿@model IEnumerable<StudentPickup.Data.PickupScheduleSession>

@{
    ViewBag.Title = "Manage Pickup Schedules Sessions";
}

<h2>Manage Pickup Schedules Sessions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Session Date
        </th>
        <th>
            Guardian
        </th>
        <th>
            Pickup Schedule
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.SessionDate.ToShortDateString())
            </td>
            <td>
                @Html.Raw(item.Guardian.GivenName + " " + item.Guardian.FamilyName)
            </td>
            <td>
                @Html.Raw(item.PickupSchedule.Student.GivenName + " " + item.PickupSchedule.Student.FamilyName + " - " + item.PickupSchedule.Student.RFID + " - " +
               (item.PickupSchedule.StartDate.HasValue ? item.PickupSchedule.StartDate.Value.ToShortDateString() : "") + " - " +
               (item.PickupSchedule.EndDate.HasValue ? item.PickupSchedule.EndDate.Value.ToShortDateString() : ""))
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PickupScheduleSessionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PickupScheduleSessionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PickupScheduleSessionId })
            </td>
        </tr>
    }

</table>
