﻿@model IEnumerable<StudentPickup.Data.Kiosk>

@{
    ViewBag.Title = "Manage Kiosks";
}

<h2>Manage Kiosks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KioskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.Name)
        </th>
        <th>
            Parent Kiosk
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentPortNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KioskId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentKiosk.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentPortNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longtitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KioskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KioskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KioskId })
        </td>
    </tr>
}

</table>
