﻿@model IEnumerable<StudentPickup.Data.SchoolGeoZone>

@{
    ViewBag.Title = "Manage Geo Zones";
}

<h2>Manage Geo Zones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoZoneType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeoZoneType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SchoolGeoZoneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SchoolGeoZoneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SchoolGeoZoneId })
        </td>
    </tr>
}

</table>
